
.topHeader {

	background-color: #3A539B;
	width: 100%;
	height: 100%;

border-bottom:1px solid white;
}

.glyphicon{
    font-size: 90px;
	color: black;
	
}
/* //Test */
.span2 p{
	


/*	text-decoration-color: ghostwhite;*/
	
	
}



html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
	  font-size: 2vw;
}

.topText {

	color: white;
	margin-left: 20px;
	padding-top: 10px;

	
	
}

.glyphicon{

font-size: 10px;
}

.insideButtons {

	height: 2000px;
	width: 500px;
	
}



.imageButtons {
	width: 120px;
	height: 100px;
	margin-top: auto;
	margin-left: auto;
	border-radius: 5%;
	
	 box-shadow: 1px 1px 1px black;
}

.allButtons {
	background-color: orange;
	margin-left: 200px;
	margin-top: 20px;
	height: 130px;
	width: 400px;
    box-shadow: 5px 5px 5px #572323;
}

	margin-left: 370px;
	margin-bottom: -200px;
	margin-top: -120px;
	font-size: 20px;
	color: #fff;
}
/* testingAbdi */
.bottomButtonText {
	margin-left: 370px;
	margin-bottom: -200px;
	margin-top: -100px;

	color: dodgerblue;
}

.second {
	margin-top: 370px;
	
}

.three {
	margin-top: 300px;
}

.topButtonText {
	
}

.gallery {
	background-color: beige;
}


.span2 {
	margin-top: 20px;

}

.pageButtons {
    box-shadow: 3px 2px 2px #000;
	height: 120px;

}

.pageButtons:hover{
background-color: #ffffff;
  opacity: 2;
}

.imgTextTop {

	font-size:  2.9vw;
	color: black;
	margin-left: 140px;

}

.imgBottomText {
	margin-left: 140px;
font-size:  2.9vw;
	color: grey;
}

#fitin {
	
    border: 1px solid black;
    overflow: hidden;
    font-size: 1em;
}

.myImages {
	height: 3000px;
	width: 300px;
	border-radius: 30%;
}

.galleryPictures {
	resize: both;
	width: 200px;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	box-shadow: 3px 3px 2px #000;
	transition: all .2s ease-in-out;
	
}
.galleryPictures:hover {
	resize: both;
	width: 200px;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	 box-shadow: 3px 3px 2px #000;
	 transform: scale(1.2);
}

.galleryPicturesRight {
		width: 200px;
	height: 200px;
	margin-left: 100px;
	border-radius: 3%;
}

.galleryPicturesLeft {
		width: 200px;
	height: 200px;
	margin-left: 100px;
	border-radius: 3%;
}



.topCode {

}

.enterTextpage {
	
}

.circleButtonX {
	border-radius: 50%;
	background-color: yellow;
}

.listOfPictures {
	margin-bottom: 60px;
}

.galleryTopText {
font-size: 30px;
	color: lightgrey;
}

.mainGalleryBackground {
	margin-left: -40px;
}

.insideBodyButtons {

	margin-top: 1px;
	

}

.firstPageMainArea {
height: 200px;
	margin-top: 200px;
	border-radius: 1%;
	margin-left: 50px;
	margin-right: 50px;
}

.justTheYellowButtons {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 30px;

}

.SelectARoomText {
	font-size: 25px;
	color: white;
}

.firstInputBox {
	background-color: darkgrey;
	height: 200px;
	widows: 200px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 130px;
	border-radius: 1%;
}

.tourInput {
	margin-top: 70px;
	width: 300px;
	height: 50px;
	border-radius: 4%;
}

.tourText {
	color: white;
	font-size: 20px;
}

.userNameText {
	color: white;
}

.btnEnterTourCode {
	margin-top: 10px;
	width: 100px;
	height: 40px;

}
.btn{
	margin-top: 10px;
	height: 40px;
	width: 90px;
}
.centeredEnterTourCodeText {
	margin-bottom: 10px;
	font-size: 18px;
}

.topHospitalNameText {
	color: white;
	font-size: 25px;
	margin-top: 10px;
}

.enterTourCodeButton {
	color: black;
}



#btnHomePage {
	width: 90px;
	height: 90px;
	margin-left: 40px;
	margin-bottom: 20px;
}

#btnHelp {
	width: 90px;
	height: 90px;
	margin-left: 10px;
	background-color: orange;
		margin-bottom: 20px;
}

.HomePageText {
	font-size: 15px;
}
